# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.tmp
*.lock
*.bak
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
.idea/
*.iml
*.ipr
*.iws

# VS Code related
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
.packages
generated_plugin_registrant.dart

# iOS related
**/ios/Flutter/.last_build_id
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/App.framework
**/ios/Flutter/engine
Pods/
Podfile.lock

# Android related
**/android/local.properties
**/android/app/debug
**/android/app/profile
**/android/app/release

# Web related
**/web/.dart_tool/

# Windows related
**/windows/.dart_tool/

# Linux related
**/linux/.dart_tool/

# Firebase related
firebase.json

# Symbolication and Obfuscation files
app.*.symbols
app.*.map.json
symbols/
